@font-face {
  font-family: 'MTSans';
  src: url('../fonts/MTSans-LightCondensed.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MTSans';
  src: url('../fonts/MTSans-RegularCondensed.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MTSans';
  src: url('../fonts/MTSans-BoldCondensed.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}